{% load mathfilters %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>방명록</title>
</head>
<body>
	<form action="/guestbook/add" method="post">
		<table border=1 width=500>
			<tr>
				<td>이름</td><td><input type="text" name="name"></td>
				<td>비밀번호</td><td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td colspan=4><textarea name="message" cols=60 rows=5></textarea></td>
			</tr>
			<tr>
				<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
			</tr>
		</table>
	</form>

	<br>
	<table width=510 border=1>
		<tr>
			<td>2</td>
			<td>방문자1</td>
			<td>2019-05-05 22:33:11</td>
			<td><a href="/guestbook/deleteform?id={{ guestbook.id }}">삭제</a></td>
		</tr>
		<tr>
			<td colspan=4>
                안녕하세요~
            </td>
		</tr>
	</table>

	<br>
	<table width=510 border=1>
		<tr>
			<td>1</td>
			<td>방문자2</td>
			<td>2019-05-05 21:33:11</td>
			<td><a href="/guestbook/deleteform?id={{ guestbook.id }}">삭제</a></td>
		</tr>
		<tr>
			<td colspan=4>
                방갑습니다.
                방갑습니다.
            </td>
		</tr>
	</table>

</body>
</html>